.fallback-tile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: calc(100% - 1rem - 2px);
    width: calc(100% - 1rem - 2px);
    border: 1px solid white;
    background-color: rgba(83, 0, 160, 0.452);

    .error-msg {
        color: red;
    }

    .key-display {
        margin-top: auto;
    }
}